# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
package-lock.json


# intellij files
.idea
*.iml

# gradle
/**/.gradle

# 알고리즘 아래의 build 파일들
algorithm/**/build/**

# webpack
**/.webpack

# dynamodb
**/.dynamodb